@mixin button-style($background, $color) {
  background: $background;
  color: $color;

  &:hover {
    background: darken($background, 10%);
  }
}

.btn {
  width: 200px;
  padding: 10px 0;
  background: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: 10px;

  &.btn-laranja {

    @include button-style($color-orange, #1222)
  }

  &.btn-roxo {

    @include button-style($color-roxo, #fff)
  }

  &.btn-amarelo {

    @include button-style($color-amarelo, #fff)
  }
}